.third{
    background-color: darksalmon;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third h2{
    color: rgb(238, 108, 195);
    margin: 0 20px;
}

.form{
    background-color: rgb(120, 214, 243);
    width: 50%;
    height: 100px;
    justify-content: center;
    align-items: center;
}